.calendarWrapper {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .calendar {
        width: 300px;
        border-radius: 30px;
        background-color: #15162b;
        color: #fff;
        padding: 20px;


        @media screen and (max-width: 640px) {
            width: 100%;
        }

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            .month {
                text-transform: uppercase;
                font-size: 24px;
            }

            .year {
                text-transform: uppercase;
                font-size: 24px;
            }
        }

        .date {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 5px;

            @media screen and (max-width: 640px) {
                gap: 10px;
            }

            &__item {
                display: grid;
                width: 30px;
                height: 30px;
                border-radius: 5px;
                align-items: center;
                justify-items: center;
                cursor: pointer;

                @media screen and (max-width: 640px) {
                    width: 100%;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            .active {
                background: #6D5FB3;
            }

            .disabled {
                background-color: dimgrey;
                color: linen;
                opacity: 1;
                pointer-events: none;
                cursor: not-allowed;
            }

        }
    }

}