.mobileNav {
    display: none;
    position: absolute;
    top: 58px;
    right: 50px;

    @media (max-width: 1150px) {
        display: block;
    }

    @media (max-width: 500px) {
        top: 47px;
        right: 20px;
    }

    .btnMenu {
        width: 30px;
        height: 30px;
        cursor: pointer;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .menuWrapper {
        background-color: #fff;
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        z-index: 200;
        display: flex;
        justify-content: center;

        @media (max-width: 640px) {
            width: 80%;
        }

        @media (max-width: 500px) {
            width: 100%;
        }

        .btnClose {
            position: absolute;
            top: 55px;
            right: 50px;
            width: 40px;
            height: 40px;
            cursor: pointer;

            @media (max-width: 500px) {
                right: 20px;
                top: 47px;
            }

            svg {
                width: 100%;
                height: 100%;
            }

        }

        .menuList {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 50px;

            li {
                a {
                    color: #000;
                    font-size: 36px;
                    font-family: 'Playfair Display';
                    font-weight: 600;

                    @media (max-width: 800px) {
                        font-size: 24px;
                    }
                }

            }
        }
    }

}