.connection {
    margin-bottom: 40px;

    h2 {
        margin-bottom: 20px;
    }

    .connection__items {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            display: flex;
            align-items: center;
            font-size: 16px;
            cursor: pointer;
        }

        input {

            width: 20px;
            height: 20px;
            margin-right: 5px;
            cursor: pointer;
        }
    }
}