//sectionPreview
.sectionPreview__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 80px;
}

.textContainer {
    position: absolute;
    left: 100px;
    z-index: 100;
    &__title {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 108px;
        line-height: 120%;
        letter-spacing: -0.05em;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: -0.02em;
        margin-bottom: 60px;
    }
}

.img__wrapper {
    position: relative;
    width: 50%;
    object-fit: cover;
    object-position: center;

    img {
        position: relative;
        z-index: -10;
        width: 100%;
        height: auto;
    }
}