.portfolioContent {
    h2 {
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 141.8%;
        margin-bottom: 70px;

        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100px;
            border-bottom: 1px solid #000;
        }
    }

    .filters {
        display: flex;
        align-items: center;
        margin-bottom: 80px;

        li {
            margin-right: 34px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 194.19%;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            cursor: pointer;

            &:last-child {
                margin-right: 0px;
            }

            &.active {
                padding: 10px 20px;
                background-color: #000;
                color: #fff;
                border-radius: 10px;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
}

.gallary {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-template-rows: masonry;
    gap: 20px;

    &__item {
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}





.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-auto-rows: 500px;
    grid-auto-flow: dense;
    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
        &:nth-child(4n) {
            grid-row: span 2;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
        display: inline-block;
    }
}
